<div class="jumbotron" id="jumbotron">
  <div class="container">
    <h1>Jack Mallers</h1>
    <p class='sub-head'>Coding - Basketabll - Chess - BTC</p>
  </div>
  <div class="overlay"></div>
</div>

<section class="espn-coder-container" id="espnContainer">
  <div class="espn-header">
    <div class="content-container">
      <div class="logo-container">
        <h1>
          <a name="&amp;lpos=sitenavdefault&amp;lid=sitenav_main-logo" href="http://espn.go.com">ESPN</a>
        </h1>
      </div>
      <ul class='nav-right'>
        <li><a href="http://espn.go.com/nba/player/_/id/3456/derrick-rose" target="_">This page look famaliar? Lol I thought it was funny</a></li>
      </ul>
      <ul class="sports">
        <li>
          <a href="#" class='active'>Coders</a>
        </li>
        <li>
          <a href="#">NBA</a>
        </li>
        <li>
          <a href="#">MLB</a>
        </li>
        <li>
          <a href="#">NFL</a>
        </li>
        <li>
          <a href="#">NCAAB</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="espn-card">
    <div class="content">
      <div class="logo"></div>
      <div class="main-headshot">
        <%= image_tag("headshot.png") %>
      </div>
      <h1>Jack Mallers</h1>
      <div class="bio">
        <div class="line-divider"></div>
        <ul class="general-info">
          <li class="first">Evanston, IL</li>
          <li>5' 8", 160 lbs</li>
          <li class="last">Free Agent</li>
        </ul>
        <ul class="meta-data">
          <li>
            <span>Born</span>
            April 9, 1994 in Chicago, IL (Age: 21)
          </li>
          <li>
            <span>Last project</span>
            <a href="http://jackschess.com" target="_blank">jackschess.com</a>
          </li>
          <li>
            <span>College</span>
            St. John's (Dropped out first semester)
          </li>
          <li>
            <span>Coding Exp</span>
            2 years
          </li>
          <li>
            <span>Obsessions</span>
            Bitcoin, Chess, Basketball
          </li>
        </ul>
      </div>
      <div class="stats">
        <p>2013-Present (Career as coder)</p>
        <table class="header-stats">
          <thead>
            <tr>
              <th>Projects</th>
              <th>Own BTC?</th>
              <th>Degrees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5</td>
              <td>Yes</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="header-bg"></div>
    <div class="court"></div>
    <div class="extras">
      <div class="scouting-report">
        <div class="scouting-header">
          <h5 class='espn-title'>Scouting Report</h5>
        </div>
        <div class="scouting-content">
          <p>Mallers is an extremely focused and hard-working developer and designer with strong intuition, ambition, and big-picture thinking. Quickly transitioning from college dropout to web developer, building usable apps like <a href="http://jackschess.com" target="_blank">jackschess</a> and even being featured in <a href="https://signalvnoise.com/posts/3771-jack-mallers-from-dropout-to-starter">Basecamp's Signal vs Noise</a>, he has demonstrated that he is a nimble independent learner.</p>
          <p>Mallers loves working on teams, especially with smart and experienced people, where he can learn and grow. Currently, he is fascinated by Bitcoin and is looking to find a roster spot on a team that is just as excited about the cryptocurrency as he is. Just being a part of something that he believes will change the world and move it in the right direction is his current goal.</p>
          <p>Mallers was also a nationally-ranked chess player throughout high school, and was the 6th man for the 8th ranked basketball team in the state of Illinois. In his free time, you will find him on the courts playing pick-up ball with his friends when he's not in the parks playing speed chess.</p>
        </div>
      </div>
      <div class="videos">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/UTt6W2th9y4" frameborder="0" allowfullscreen></iframe>
        <h6>Video playlist</h6>
        <ul>
          <li><a href="https://www.youtube.com/watch?v=UVXNq-DSBHk" target="_blank">Clips from basketball game</a></li>
          <li><a href="https://www.youtube.com/watch?v=0HVngR1EzpY" target="_blank">Demo of jackschess</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="baige">
  <div class="experiences">
    <h2>Experience</h2>
    <blockquote>
      I've got a great ambition to die of exhaustion rather than boredom.
      <p>― Thomas Carlyle</p>
    </blockquote>
    <hr>
    <h3>Education</h3>
    <div class="expierence-section">
      <div class="expierence-title">
        <h4>Starter School</h4>
        <p>Sept 2013 - June 2014</p>
      </div>
      <div class="expierence-content">
        <p>
          <strong>Web development, web design, business/entrepreneurship</strong>
          <span class='explanation'>Starter School is a 9-month course that teaches web development, design, and entrepreneurship. I not only got to learn from the likes of Jeff Cohen, Raghu Betina, Mig Reyes and others, but I also was able to meet and hear talks from some of the most successful entrepreneurs and investors in Chicago, such as Amanda Lannert, Ryan Singer and Adrian Holovaty. Most important, I built mentor relationships that I still have today with Jason Fried, Troy Henikoff and Josh Braun.</span>
          <div class="dets">
            <i class="fa fa-map-marker"></i>
            <span class="location">Chicago, IL</span>
          </div>
        </p>
      </div>
    </div>
    <div class="expierence-section">
      <div class="expierence-title">
        <h4>Talentbuddy Mentors</h4>
        <p>Oct 2014 - Feb 2015</p>
      </div>
      <div class="expierence-content">
        <p>
          <strong>Back-end dev (Node.js), Front-end dev(Ember.js), Advanced JS</strong>
          <span class='explanation'>I was part of the Talentbuddy mentorship program very early on where I got paired with a back-end mentor and a front-end mentor. For 3 months I worked with Andrei Soare on Node.js development and advanced JS, and Vlad Berteanu on Ember.js and Ember-CLI. Both former Google Engineers. An interview on my experience is <a href="https://www.talentbuddy.co/blog/how-a-20-something-learns-to-build-his-chess-web-application/" target="_blank">here</a>, I definitely recommend Talentbuddy.</span>
          <div class="dets">
            <i class="fa fa-map-marker"></i>
            <span class="location">Remote</span>
          </div>
        </p>
      </div>
    </div>
    <hr>
    <h3>Things I've done</h3>
    <div class="expierence-section">
      <div class="expierence-title">
        <h4>Board Member</h4>
        <p>June 2015 - Present</p>
      </div>
      <div class="expierence-content">
        <p>
          <strong>Entrepreneurship Board, Evanston Township High School</strong>
          <span class='explanation'>Invited by local large high school to serve as a mentor and board member for the Algebra Entrepreneurship Board.</span>
          <div class="dets">
            <i class="fa fa-map-marker"></i>
            <span class="location">Evanston, IL</span>
          </div>
        </p>
      </div>
    </div>
    <div class="expierence-section">
      <div class="expierence-title">
        <h4>Programming Instructor</h4>
        <p>Summer 2014 & Summer 2015</p>
      </div>
      <div class="expierence-content">
        <p>
          <strong>Instructor at Starter School</strong>
          <span class='explanation'>The last two summers I have done a variety of teaching for Starter School. I helped teach a 3 month web-development course in Rails, an AJAX class, and a class where I went over front-end JS like jQuery and Ember.js/Ember-CLI.</span>
          <div class="dets">
            <i class="fa fa-map-marker"></i>
            <span class="location">Chicago, IL</span>
          </div>
        </p>
      </div>
    </div>
    <div class="expierence-section">
      <div class="expierence-title">
        <h4>Part of Start-Up Team</h4>
        <p>June 2014 - September 2014</p>
      </div>
      <div class="expierence-content">
        <p>
          <strong>Developer, Sales, and Quality Assurance at LanternHQ</strong>
          <span class='explanation'>Lantern is a learning management platform that's easy for teachers and students to use. I was brought on when there were only ~3 employees. I assisted with some back-end development, a lot of sales and QA testing.</span>
          <div class="dets">
            <i class="fa fa-map-marker"></i>
            <span class="location">Chicago, IL</span>
            <span class="seperator">|</span>
            <span class="link"><%= link_to "https://lanternhq.com/", "https://lanternhq.com/", target: "_blank" %></span>
          </div>
        </p>
      </div>
    </div>
    <div class="expierence-section">
        <div class="expierence-title">
          <h4>Founded JacksChess</h4>
          <p>Feb 2015 - Present</p>
        </div>
        <div class="expierence-content">
          <p>
            <strong>Did Everything:  Development, Design, Business</strong>
            <span class='explanation'>JacksChess is the product I had in mind when I first got into coding 2 years ago. JacksChess is a platform for players to connect, teach, and learn online with each other. It takes the over-the-board experience that players have been doing face to face for thousands of years, and replicates that online. Within its first 2 months of public launch, the site was used for 2,141 chess sessions, and 303 chessrooms were created. Users in 72 countries.</span>
            <div class="dets">
              <i class="fa fa-map-marker"></i>
              <span class="location">Evanston, IL</span>
              <span class="seperator">|</span>
              <span class="link"><%= link_to "http://jackschess.com", "http://jackschess.com", target: "_blank" %></span>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="built">
    <h2>Things I've Built</h2>
    <blockquote>
      I like to build things. I like to do things.
      <p>― Walter Chrysler</p>
    </blockquote>
    <div class="items-container">
      <div class="build-item jackschess">
        <%= link_to "http://jackschess.com" do %>
          <div class="padding">
            <%= image_tag "jackschess-screenshot.png" %>
          </div>
        <% end %>
        <div class="item-description">
          <div class="padding">
            <span class="item-title"><a href="http://jackschess.com">JacksChess</a></span>
              Conceived, designed, developed my dream product from scratch. An innovative platform for chess players to connect, teach, and learn online. Within it's first 2 months of public launch, site was used for 2,141 chess sessions and 303 chessrooms were created. Users in 72 countries.
              <div class="tags">
                <div class="tag">Ember.js</div>
                <div class="tag">Node.js</div>
                <div class="tag">MongoDB</div>
                <div class="tag">NGINX</div>
                <div class="tag">LINUX</div>
                <div class="tag">Stockfish</div>
                <div class="tag">Digital Ocean</div>
              </div>
          </div>
        </div>
      </div>
      <div class="build-item lantern">
        <%= link_to "http://lanternhq.com" do %>
          <div class="padding">
            <%= image_tag "lantern-screenshot.png" %>
          </div>
        <% end %>
        <div class="item-description">
          <div class="padding">
            <span class="item-title"><a href="http://lanternhq.com">LanternHQ</a></span>
            A learning management platform that's easy for teachers and students to use. It is used in many college universities. I assisted with back-end development, quality assurance, and sales for this new learning management platform. Founded and run by the awesome folks at <a href="http://starterleague.com" target="_blank">Starter League</a>.
              <div class="tags">
                <div class="tag">Ruby on Rails</div>
                <div class="tag">Skitch</div>
                <div class="tag">Highrise</div>
                <div class="tag">Basecamp</div>
              </div>
          </div>
        </div>
      </div>
      <div class="build-item rollwithme">
        <%= link_to "http://www.rollwithmeapp.com/" do %>
          <div class="padding">
            <%= image_tag "rollwithme-screenshot.png" %>
          </div>
        <% end %>
        <div class="item-description">
          <div class="padding">
            <span class="item-title"><a href="http://www.rollwithmeapp.com/">RollWithMe</a></span>
               Inspired by a good friend of mine <%= link_to "Mohammad Ouyoun", "http://www.rollwithmeapp.com/pages/about", target: "_blank" %>, RollWithMe gives handicapped accessible transit directions in Chicago. I did back-end development for the web-app. We were featured in <%= link_to "BuiltInChicago", "http://www.builtinchicago.org/2014/11/18/how-app-making-chicago-accessible-handicapped", target: "_blank" %> and on Fox News Chicago.
              <div class="tags">
                <div class="tag">Ruby on Rails</div>
                <div class="tag">Google Maps API</div>
                <div class="tag">Heroku</div>
              </div>
          </div>
        </div>
      </div>
      <div class="build-item helptrainme">
        <%= link_to "#" do %>
          <div class="padding">
            <%= image_tag "helptrainme-screenshot.png" %>
          </div>
        <% end %>
        <div class="item-description">
          <div class="padding">
            <span class="item-title"><a href="#">HelpTrainMe</a></span>
              An app to help personal trainers at large gym corporations organize their clients' training data. The app is used by The Exercise Coach. I did back-end, front-end, design and business with my good friend Harsha Murthy.
              <div class="tags">
                <div class="tag">Ruby on Rails</div>
                <div class="tag">AJAX</div>
                <div class="tag">jQuery</div>
                <div class="tag">PostgreSQL</div>
                <div class="tag">Heroku</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="baige">
  <div class="skills">
    <h2>Skills</h2>
    <blockquote>
      A winner is someone who recognizes his God-given talents, works his tail off to develop them into skills, and uses these skills to accomplish his goals.
      <p>― Larry Bird</p>
    </blockquote>
    <hr>
    <div class="skills-container">
      <div class="skills-col">
        <ul>
          <li>
            <span class="skill-title">CSS(3)</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">HTML(5)</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">SASS/LESS</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">Ruby on Rails</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">MVC Pattern</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">OOP</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">JSON</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">Javascript</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">Ember.js</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
        </ul>
      </div>
      <div class="skills-col">
        <ul>
          <li>
            <span class="skill-title">jQuery</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">Node.js</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">PostgreSQL</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">MongoDB</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">NGNIX</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">Angular.js</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">Swift</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">Python</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
          <li>
            <span class="skill-title">D3.js</span>
            <span class="skill-rating">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="press">
    <h2>Press</h2>
    <blockquote>
      This is for all the fans that waited, the b**ch ni**as that hated
      <br>
      Old hoes we dated, look <a href="https://twitter.com/bitcoinmom" id="bitcoinmom" target="_blank">(bitcoin)mama</a>, we made it.
      <p>― J. Cole</p>
    </blockquote>
    <hr>
    <h3>Nice things said by nice people</h3>
    <div class="tweets">
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">8 minutes of inspiration. Watch Jack Mallers talk about his Starter School experience. This kid is a star —&gt; <a href="http://t.co/0YjDMavNv9">http://t.co/0YjDMavNv9</a></p>&mdash; Jason Fried (@jasonfried) <a href="https://twitter.com/jasonfried/status/492685256814628865">July 25, 2014</a></blockquote>
      <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Just saw <a href="https://twitter.com/JackMallers">@jackmallers</a> (who stole the ball from Jabari Parker at Ill. sectionals) kill it at <a href="https://twitter.com/hashtag/StarterShowcase?src=hash">#StarterShowcase</a>. Can&#39;t wait for ChessExplained!</p>&mdash; Chris Courtney (@designhawg) <a href="https://twitter.com/designhawg/status/480169196571992064">June 21, 2014</a></blockquote>
      <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Why Bootstrap? <a href="http://t.co/heOE4ORTfD">http://t.co/heOE4ORTfD</a> from <a href="https://twitter.com/cbeams">@cbeams</a> <a href="https://twitter.com/dancounsell">@dancounsell</a> <a href="https://twitter.com/adii">@adii</a> <a href="https://twitter.com/jasonfried">@jasonfried</a> <a href="https://twitter.com/JackMallers">@jackmallers</a> &amp; <a href="https://twitter.com/jpressler">@jpressler</a></p>&mdash; BootstrappingIO (@bootstrappingio) <a href="https://twitter.com/bootstrappingio/status/503901851771613184">August 25, 2014</a></blockquote>
      <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Meet Jack Mallers (<a href="https://twitter.com/JackMallers">@jackmallers</a>). The kid who hated school. Until he went to Starter School —&gt; <a href="https://t.co/7MfzcM8Klv">https://t.co/7MfzcM8Klv</a></p>&mdash; Jason Fried (@jasonfried) <a href="https://twitter.com/jasonfried/status/502170785646379009">August 20, 2014</a></blockquote>
    </div>
    <hr>
    <h3>Cool articles about me and my work</h3>
    <div class="articles">
      <div class="article svn">
        <figure class="effect">
          <%= image_tag "svn-article.png" %>
          <figcaption>
            <h3>Basecamp's Signal vs Noise</h3>
            <p>By Basecamp's CEO, Jason Fried</p>
            <p>My story from college dropout to entrepreneur</p>
            <a href="https://signalvnoise.com/posts/3771-jack-mallers-from-dropout-to-starter" target="_blank">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="article">
        <figure class="effect">
          <%= image_tag "builtinchicago-article.png" %>
          <figcaption>
            <h3>BuiltIn Chicago</h3>
            <p>By Kaite Rosow Chrisman</p>
            <p>The story of RollWithMe and it's impact</p>
            <a href="http://www.builtinchicago.org/2014/11/18/how-app-making-chicago-accessible-handicapped" target="_blank">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="article">
        <figure class="effect">
          <%= image_tag "talentbuddy-article.png" %>
          <figcaption>
            <h3>Talentbuddy's Blog</h3>
            <p>By Octav Druta</p>
            <p>My expierence at Talentbuddy</p>
            <a href="https://signalvnoise.com/posts/3771-jack-mallers-from-dropout-to-starter" target="_blank">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="grey">
  <div class="contact">
    <h1>Contact</h1>
    <blockquote class="contact-quote">
      I live by 'Go big or go home.' It's either commit and go for it or don't do it at all. I apply that to relationships, I apply that to sports, I apply that to everything. That's what I live by. That's how I like it.
    </blockquote>
    <hr>
      <ul class="social-medias">
        <li><a href="https://twitter.com/JackMallers" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="mailto:jimmymowschess@gmail.com" class="mail"><i class="fa fa-envelope"></i></a></li>
      </ul>
    <hr>
  </div>
</section>

